body {
  background-color: lighten(peachpuff, 14%);
  font-family: 'Noto Sans', sans-serif;
}

button {
  border: none;
  padding: 1rem 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  color: lighten(tan, 25%);
  margin: 3px 0;
}

.filter {
  margin-bottom: 10px;
}

.food-list {
  margin-left: 15px;
  h3 {
    padding: 10px;
    margin: 10px;
  }
}

.food-name {
  padding: 10px;
  background-color: lighten(mediumaquamarine, 32%);
  border-radius: 8%;
}

.edit-details, .new-food {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: lighten(tan, 30%);
  padding: 10px 10px 0;
  border-radius: 4px;
  border: solid lighten(grey, 40%) 1px;
}

.add-button {
  color: lighten(tan, 25%);
  background-color: darken(pink, 5%);
  &:hover {
    background-color: darken(pink, 10%);
  }
}

.button-edit {
  background-color: lighten(forestgreen, 15%);
  &:hover {
    background-color: lighten(forestgreen, 25%);
  }
}

.button-done {
  background-color: darken(aqua, 10%);
  &:hover {
    background-color: darken(aqua, 5%);
  }
}
